each item in items
  .col-md-9.col-sm-9.col-xs-12(style='margin-top: 10px;')
    if (item.status == 'Chưa giao')
      li.list-group-item(style='background: #FF1A1A; color: #FFFFFF;')
        | Mã đơn hàng: #{item.id}
        br
        | User ID: #{item.user_id}
        br
        | Họ tên: #{item.fullname}
        br
        | Địa chỉ: #{item.address}
        br
        | Số điện thoại: #{item.phone}
        br
        | Ngày mua: #{item.date}
        br
        | Trạng thái: #{item.status}
        br
        | Trạng thái thanh toán: #{item.payStatus}
    if (item.status == 'Đang giao')
      li.list-group-item(style='background: #E6E600; color: #FFFFFF;')
        | Mã đơn hàng: #{item.id}
        br
        | User ID: #{item.user_id}
        br
        | Họ tên: #{item.fullname}
        br
        | Địa chỉ: #{item.address}
        br
        | Số điện thoại: #{item.phone}
        br
        | Ngày mua: #{item.date}
        br
        | Trạng thái: #{item.status}
        br
        | Trạng thái thanh toán: #{item.payStatus}
    if (item.status == 'Đã giao')
      li.list-group-item(style='background: #00CC00; color: #FFFFFF;')
        | Mã đơn hàng: #{item.id}
        br
        | User ID: #{item.user_id}
        br
        | Họ tên: #{item.fullname}
        br
        | Địa chỉ: #{item.address}
        br
        | Số điện thoại: #{item.phone}
        br
        | Ngày mua: #{item.date}
        br
        | Trạng thái: #{item.status}
        br
        | Trạng thái thanh toán: #{item.payStatus}
  .col-md-3.col-sm-3.col-xs-12(style='margin-top: 10px;')
    if (!updateOrderID)
      a.btn.btn-default(href='/admin/updateOrder/' + item.id) Cập nhật trạng thái
    else
      form.form(action='/admin/updateStatus' method='post' accept-charset='utf-8' role='form')
        button.btn.btn-default(type='submit') Cập nhật trạng thái
        select.form-control.input-md(name='status' style='margin-top: 10px; width: 152px;')
          option(value='Chưa giao') Chưa giao
          option(value='Đang giao') Đang giao
          option(value='Đã giao') Đã giao
