each newItem in newItems
  .item_pro
    if (isLogged)
      a(href='/products/details/' + newItem.id)
      .top_pro.hover_top
        .viewmore-section
          a#addToCart(style='background: #fb005b; color: #fff;' href='/cart/myCart/' + newItem.id)
            span Th&ecirc;m v&agrave;o gi&#x1ECF; h&agrave;ng
    else
      a(href='/products/details/' + newItem.id)
      .top_pro.hover_top
        h3= newItem.name
        .price_pro.text-center
          span.price_sale= newItem.price
            sup &dstrok;
    .img_pro
      .pan_pro.bg_new new
      .img
        a(href='/products/details/' + newItem.id)
          img(src= newItem.image alt='')
    .top_pro
      h3
        a(href='/products/details/' + newItem.id)= newItem.name
      .price_pro.text-center
        span.price_sale #{newItem.price}
          sup &dstrok;
    a(href='/products/details/' + newItem.id)
      .short_pro
        ul
          li
            | L&#x1B0;&#x1EE3;t xem: #{newItem.views}
          li
            | L&#x1B0;&#x1EE3;t b&aacute;n: #{newItem.sells}
          li
            | Mô tả: #{newItem.description}
          li
            | Xu&#x1EA5;t x&#x1EE9;: #{newItem.origin}
          li
            | Lo&#x1EA1;i: #{newItem.nameType}
          li
            | Nh&agrave; xu&#x1EA5;t b&#x1EA3;n: #{newItem.nameCompany}
