each viewItem in viewItems
  .item_pro
    if (isLogged)
      a(href='/products/details/' + viewItem.id)
      .top_pro.hover_top
        .viewmore-section
          a#addToCart(style='background: #fb005b; color: #fff;' href='/cart/myCart/' + viewItem.id)
            span Th&ecirc;m v&agrave;o gi&#x1ECF; h&agrave;ng
    else
      a(href='/products/details/' + viewItem.id)
      .top_pro.hover_top
        h3= viewItem.name
        .price_pro.text-center
          span.price_sale= viewItem.price
            sup &dstrok;
    .img_pro
      .pan_pro.bg_trend trend
      .img
        a(href='/products/details/' + viewItem.id)
          img(src= viewItem.image alt='')
    .top_pro
      h3
        a(href='/products/details/' + viewItem.id)= viewItem.name
      .price_pro.text-center
        span.price_sale #{viewItem.price}
          sup &dstrok;
    a(href='/products/details/' + viewItem.id)
      .short_pro
        ul
          li
            | L&#x1B0;&#x1EE3;t xem: #{viewItem.views}
          li
            | L&#x1B0;&#x1EE3;t b&aacute;n: #{viewItem.sells}
          li
            | Mô tả: #{viewItem.description}
          li
            | Xu&#x1EA5;t x&#x1EE9;: #{viewItem.origin}
          li
            | Lo&#x1EA1;i: #{viewItem.nameType}
          li
            | Nh&agrave; xu&#x1EA5;t b&#x1EA3;n: #{viewItem.nameCompany}
