each item in items
  if (item.permission == 0)
    .col-md-11.col-sm-11.col-xs-12(style='margin-top: 10px;')
      li.list-group-item
        | Họ: #{item.firstname}
        br
        | Tên: #{item.lastname}
        br
        | Email: #{item.email}
        br
        | Ngày sinh: #{item.birthday}
        br
        if (item.gender == 0)
          | Giới tính: Nam
        else
          | Giới tính: Nữ
        br
        | Ngày tạo: #{item.date}
    .col-md-1.col-sm-1.col-xs-12(style='margin-top: 10px;')
      a.btn.btn-default(href='/admin/delUser/' + item.id) Xóa
