each item in items
  .item_pro
    a(href='/products/details/' + item.id)
      .top_pro.hover_top
        h3= item.name
        .price_pro.text-center
          span.price_sale= item.price
            sup &dstrok;
    .img_pro
      .img
        a(href='/products/details/' + item.id)
          img(src= item.image alt='')
    .top_pro
      h3
        a(href='/products/details/' + item.id)= item.name
      .price_pro.text-center
        span.price_sale #{item.price}
          sup &dstrok;
    a(href='/products/details/' + item.id)
      .short_pro
        ul
          li
            | L&#x1B0;&#x1EE3;t xem: #{item.views}
          li
            | L&#x1B0;&#x1EE3;t b&aacute;n: #{item.sells}
          li
            | Mô tả: #{item.description}
          li
            | Xu&#x1EA5;t x&#x1EE9;: #{item.origin}
          li
            | Lo&#x1EA1;i: #{item.nameType}
          li
            | Nh&agrave; xu&#x1EA5;t b&#x1EA3;n: #{item.nameCompany}
  .viewmore-section(style='text-align: left;')
    a.quantity-item(href='#' style='margin-top: 0; margin-left: 20px; background: #fb005b; color: #fff; pointer-events: none;')
      span Số lượng: #{item.quantity}
    br
    a.subtract-item(style='margin-top: 30px; margin-left: 20px;' href='/cart/myCart/?subItemId=' + item.id)
      span -
    a.plus-item(style='margin-top: 30px; margin-left: 0;' href='/cart/myCart/?addItemId=' + item.id)
      span +
    br
    a.delete-item(style='margin-top: 30px; margin-left: 20px;' href='/cart/myCart/?rmItemId=' + item.id)
      span X&oacute;a
  .clearfix(style='margin-bottom: 10px;')
