each item in items
  a(href='/cart/viewDetailHistory/' + item.id)
    li.list-group-item
      | Mã đơn hàng: #{item.id}
      br
      | Người nhận hàng: #{item.fullname} 
      br
      | Địa chỉ: #{item.address}
      br
      | Số điện thoại: #{item.phone}
      br
      | Ng&agrave;y mua: #{item.date}
      br
      | S&#x1ED1; l&#x1B0;&#x1EE3;ng: #{item.amount}
      br
      | T&#x1ED5;ng gi&aacute; ti&#x1EC1;n: #{item.price} &dstrok;
      br
      | Trạng thái thanh toán: #{item.payStatus}
      
      